<div class="legend">
  <hr />
  <p class="lh-1">
    <span class="betterMonth"></span> Better than last month
  </p>
  <p class="lh-1">
    <span class="betterAll"></span> Better than "All"
  </p>
  <p class="lh-1">
    <span class="alertIcon"></span> At least 3 respondents are required</p>
  <p class="lh-1">
    Note: "Better" means <u>more time</u> in any of these best practices or at a higher response rate.
  </p>

  <div class="defs">
    <h4>Definitions</h4>
    <ul class="list-unstyled">
      <li>
        <a id="inTheCommunity"></a>
        <strong><!--<sup>1</sup>-->In the community. Where</strong> = (At the home of a person I support <u>or</u> At a business <u>or</u> In other community integrated settings) <strong><u>and</u> What</strong> = (Getting to know a job seeker <u>or</u> Finding, securing jobs <u>or</u> Other supports <u>before hire</u>).
      </li>
      <li>
        <a id="withFamilies"></a>
        <strong><!--<sup>2</sup>-->With families. Who</strong> = Family, friends, or acquaintances of a person I support
        <strong><u>and</u> What</strong> = (Getting to know a job seeker <u>or</u> Finding, securing jobs <u>or</u> Other supports <u>before hire</u>).
      </li>
      <li>
      <a id="observing"></a>
        <strong><!--<sup>3</sup>-->Observing. What</strong> = <strong>Getting to know a job seeker</strong> by Observing a job seeker <u>or</u> Participating in an activity with the job seeker <u>or</u> Informational interview or a business tour.
      </li>
      <li>
        <a id="networking"></a>
        <strong><!--<sup>4</sup>-->Networking. What</strong> = <strong>Finding, securing jobs by</strong> Networking <u>or</u> Informational interview or business tour <u>or</u> Engaging with businesses/job negotiation.
      </li>
      <li>
        <a id="naturalSupports"></a>
        <strong><!--<sup>5</sup>-->Natural support. What</strong> = <strong>Any supports <u>after hire</u> by</strong> Facilitating natural support <u>or</u> Facilitating career advancement.
      </li>
      <li>
        <strong>All</strong> = All approved employment consultants</li>
      <li>
        <strong>My Team</strong> = You and your colleagues who submit data</li>
      <li>
        <strong>Me</strong> = You, if you submit data</li>
      <li>
        <strong>Response Rate</strong> = Valid responses divided by surveys received</li>
      <li>
        <strong># of Respondents </strong> = = # of employment consultants who completed surveys</li>
      <li>
        <strong>Note</strong> All data are estimates. Greater accuracy is achieved when all team members complete all their daily surveys, when at work</li>
    </ul>

  </div>
</div>
