<div class="legend">
  <hr />
  <p class="lh-1">
    <span class="betterMonth"></span> Better than last month
  </p>
  <p class="lh-1">
    <span class="betterAll"></span> Better than "All"
  </p>
  <p class="lh-1">
    <span class="alertIcon"></span> At least 3 respondents are required</p>
  <p class="lh-1">
    Note: "Better" means <u>more</u> time in any of these best practices.
  </p>

  <div class="defs">
    <h4>Definitions</h4>
    <ul class="list-unstyled">

      <li>
        <a id="inTheCommunity"></a>
        <strong>In the community. Where</strong> = (At the residence of a person I support OR At a business OR In other community integrated settings) <strong>AND What</strong> = (Getting to know a job seeker OR Finding, securing jobs OR Other supports BEFORE hire).
      </li>
      <li>
        <a id="withFamilies"></a>
        <strong>With families. Who</strong> = Family, friends, or acquaintances of a person I support AND <strong>What</strong> = (Getting to know a job seeker OR Finding, securing jobs OR Other supports BEFORE hire).
      </li>
      <li>
      <a id="observing"></a>
        <strong>Observing. What</strong> = <strong>Getting to know a job seeker</strong> by Observing a job seeker OR Participating in an activity with the job seeker OR Informational interview or a business tour.
      </li>
      <li>
        <a id="networking"></a>
        <strong>Networking. What</strong> = <strong>Finding, securing jobs by</strong> Networking OR Informational interview or business tour OR Engaging with businesses/job negotiation.
      </li>
      <li>
        <a id="naturalSupports"></a>
        <strong>Natural support. What</strong> = <strong>Any supports After hire by</strong> Facilitating natural support OR Facilitating career advancement.
      </li>

      <li>
        <strong>All</strong> = All approved employment consultants</li>
      <li>
        <strong>My Team</strong> = You and your colleagues who submit data</li>
      <li>
        <strong>Me</strong> = You, if you submit data</li>
      <li>
        <strong>Response Rate</strong> = Valid responses divided by surveys received</li>
      <li>
        <strong># of Respondents </strong> = = # of employment consultants who completed surveys</li>
      <li>
        <strong>Note</strong> All data are estimates. Greater accuracy is achieved when all team members complete all their daily surveys, when at work</li>
    </ul>

  </div>
</div>
