<div class="legend">
  <hr />
  <p class="lh-1">
    <span class="betterMonth"></span> Better than last month
  </p>
  <p class="lh-1">
    <span class="betterAll"></span> Better than "All"
  </p>
  <p class="lh-1">
    <span class="alertIcon"></span> At least 3 respondents are required</p>
  <p class="lh-1">
    Note: "Better" means <u>more</u> time in "Leading to hire", <u>less time</u> in "Administrative", <u>less time</u>  in "Non-employment", and a <u>higher response rate</u>. There are no indications about time in suport <u>"AFTER hire"</u> because it may vary based on support needs.
  </p>

  <div class="defs">
    <h4>Definitions</h4>
    <ul class="list-unstyled">
      <li>
        <strong> Leading to hire</strong>. <strong>What</strong> = Getting to know a job seeker <u>or</u> Finding, securing jobs <u>or</u> Other supports <u>before hire</u>, combined.</li>
      <li>
        <strong> <u>After</u> hire</strong>. <strong>What</strong> = Any supports <u>after hire</u></li>
      <li>
        <strong> Administrative</strong>. <strong>What</strong> = Paperwork, meetings, program business</li>
      <li>
        <strong>Non-employment</strong>. <strong>What</strong> = Non-employment related e.g. day programs</li>

      <li>
        <strong>All</strong> = All approved employment consultants</li>
      <li>
        <strong>My Team</strong> = You and your colleagues who submit data</li>
      <li>
        <strong>Me</strong> = You, if you submit data</li>
      <li>
        <strong>Response Rate</strong> = Valid responses divided by surveys received</li>
      <li>
        <strong># of Respondents </strong> = # of employment consultants who completed surveys</li>
{% if data.role == 'ANON' %}
      <li>
        <strong>State</strong> = U.S. state with at least three employment programs participating</li>
{% endif %}
      <li>
        <strong>Note</strong> All data are estimates. Greater accuracy is achieved when all team members complete all their daily surveys, when at work</li>
    </ul>

  </div>
</div>
