<div class="state-select">
  <label>Choose a state</label>
  <select name="state" id="state-select">
    {% for abbr, state in data.stateList %}
      {% if state %}
        {% if data.stateName and data.stateName == state %}
          <option value="{{ abbr }}" selected="selected">{{ state }}</option>
        {% else %}
          <option value="{{ abbr }}">{{ state }}</option>
        {% endif %}
      {% endif %}
    {% endfor %}
  </select>
</div>
