// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';
#block-mainnavigation-2 ul#superfish-main {width: 72em; }
#block-mainnavigation-2 ul#superfish-main > li { width: 14em; }
#block-mainnavigation-2 ul#superfish-main > li,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul,#block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent ul li {
    background-color: #fff;
   }
   #block-mainnavigation-2 ul#superfish-main li.sf-depth-1.menuparent{ height: 4em; }
  div.field__label.leftTable {float: left;display: block; width: 75%; border: 1px #ccc solid; height: 69px;padding-top: 18px; border-width: 1px 1px 0 1px; }
   div.field__item.rightTable {float: left; display: block; width: 24%; border: 1px #ccc solid; border-width: 1px 1px 0 0;}
   h3.field__label {font-size: 120%;}
   .floatLeft {float:left;
       width: min-content;
     }
    .page-user-register #edit-survey-participants-profiles-0-entity-field-partic-suspension-dates-0, .page-user-register #edit-survey-participants-profiles-0-entity-field-set-surveys-to-inactive-wrapper {display: none;}
    .flexImage { width: 90%; max-width: 500px; margin: 0 0 0 5%; display: block; height: 100%;}
    .site-footer__top .region.region-footer-first {width: 95%;}
    .mainLogo {width: 50%;max-width: 550px;}
    .sizeSlogan { font-size: 115%;color: #0077af;font-weight: bold;}
    form input.is-invalid {color: red;}
    #edit-survey-participants-profiles-0-entity-field-other-provider-wrapper {display: none;}
    #edit-survey-participants-profiles-0-entity-field-other-provider-wrapper.showOther {display:block;}
    #edit-field-other-provider-wrapper {display: none;}
    #edit-field-other-provider-wrapper.showOther { display: block; }
    select#edit-tid--2 option[value="12"] {display: none;}
   #views-exposed-form-es-coach-library-page-1 #edit-submit-es-coach-library {margin-right: 15px;margin-bottom: 9px;}
   #views-exposed-form-es-coach-library-page-1 #edit-actions, #views-exposed-form-es-coach-library-page-1 fieldset {width: 100%;}
   #views-exposed-form-es-coach-library-page-1 #edit-actions input {width: 45%; float: left;}
   #edit-submit-es-coach-user-library--2 {margin-bottom: 5px;}
   #user-form #edit-survey-participants-profiles-wrapper {display: none;}
   .page-view-survey-participants main, .view-survey-participants table.table {max-width: 930px; padding-right:0;}


.myriadpro-number {
 font-family: myriad-pro, sans-serif !important;
 font-weight: 1000 !important;
 font-style: normal !important;
 color: #62943f !important;
 font-size: 8em !important;
 text-align: center !important;
 margin: 0 0 !important;
 line-height: .8 !important;

}


.myriadpro-text {
 font-family: myriad-pro, sans-serif !important;
 font-weight: 900 !important;
 font-style: normal !important;
 color: #62943f !important;
 font-size: 2.5em !important;
 text-align: center !important;
 margin: 0 0 10px 0 !important;
 line-height: .9 !important;

}
#navbar-main {

   background-color: #fff;

}

.site-footer,footer.mt-auto.bg-light {

   background: #e1e1e1 !important;

}
@media (min-width: 992px) {
  .region.region-nav-branding {width: 100%;}



  nav .navbar-brand img {height: 104px;}
}
#navbarSupportedContent ul.sf-menu a {padding: .3em .5em}
#superfish-user-menu li a {color:#737373; font-weight: bold; text-decoration: none;}
#superfish-user-menu li a:hover {text-decoration: underline;}

#block-b5subtheme-homepage .nav {
   .nav-item a {
      &.active {
         background-color: $link-hover-color;
         color: $white;
      }
   }
}

.region-nav-branding,
.region-nav-additional {
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-wrap: wrap;
}
.form-item-field-auto-login-url-0-value { display: none;}
.toolbar-icon-10 .form-item-field-auto-login-url-0-value { display: block;}



/*--- Home and About page styles --*/

section {
  padding: 60px 0;
  overflow: hidden;
}


.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
font-size: 24px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;

}




.testimonial-container {
    text-align: center;
    padding-bottom: 40px;
    height:100%;
}

.testimonial-card {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-style: italic;
    position: relative;
    border-radius: 5px;
      height:100%;
}


.testimonial-card2 {
    background-color: #f4f4f4;
    padding: 30px;
    text-align: center;
    font-style: italic;
    position: relative;
    border-radius: 5px;
      height:100%;
}


.testimonial-card2::after {
    background-color: inherit;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 14px;
}
.testimonial-card p {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 16px;
}


.color-blue {background-color:#0177ae; width:24px;height:24px;display: inline-block}
.color-white {background-color:#fff; width:24px;height:24px;display: inline-block}
.color-green {background-color:#5c9731; width:24px;height:24px;display: inline-block}


.text-success {color:#5c9731!important}


.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0177ae;
  margin-bottom: 15px;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #0177ae;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #0177ae;
  font-size: 32px;
}

.about .icon-box:hover .icon {
  background: #0177ae;
  border-color: #0177ae;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.about .icon-box .title a:hover {
  color: #0177ae;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

